@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body {
    font-family: 'Koulen', cursive;
}

p {
    font-family: 'Koulen', cursive;
}

.center {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}


